{% extends "layout.html" %}
{% block content %}

<div class="scan-result">
  <img src="https://img.icons8.com/emoji/96/000000/hamburger.png" alt="Hamburger">
  <div class="nutrition-facts">
    <p><strong>Proteína:</strong> 450g</p>
    <p><strong>Calorías:</strong> 220g</p>
    <p><strong>Grasas:</strong> 100g</p>
    <p><strong>Carbs:</strong> 49g</p>
  </div>
  <div class="ingredients">
    <h4>Ingredientes</h4>
    <ul>
      <li>Pan</li>
      <li>Tomate</li>
      <li>Lechuga</li>
      <li>Ver más</li>
    </ul>
  </div>
  <button class="add-favorites-btn">Add To Favorites</button>
</div>

{% endblock %}
